[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "5.1.2"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
drf-spectacular = "*"
debugpy = "*"
djangorestframework-simplejwt = "*"
python-dotenv = "*"
psycopg2 = "*"
django-pytest = "*"

[dev-packages]

[requires]
python_version = "3.12"
